cacheone/src/main/mule/cacheone.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d2f5bbe0-c449-4948-8c6e-a10493efe7bb" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="cacheoneFlow" doc:id="d0608576-509d-41ce-b2f5-a35cbbca1c5e" >
		<http:listener doc:name="Listener" doc:id="d98e203d-e856-47aa-be77-f5dd885ef781" config-ref="HTTP_Listener_config" path="/path-one"/>
		<logger level="INFO" doc:name="Logger 1" doc:id="eafed8c4-3637-4bda-b75d-490fc8a077a2" message="logger 1"/>
		<set-payload value='#[{&#10;	"name":"hello"&#10;}]' doc:name="Set Payload" doc:id="6ddcba74-795d-4d00-a132-e637b2912af5" />
		<ee:transform doc:name="Transform Message" doc:id="40b62fb9-8620-40ec-b82d-27ddaaa8a220" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
